node_modules
npm-debug.log
.env
.env.local
.env.production.local
.env.test.local
coverage
.nyc_output
.grunt
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
build
.npm
.eslintcache
.DS_Store
Thumbs.db
.vscode
.git
.gitignore
README.md
.env.example
.env.development
.env.production
*.md